<div class="container p-4 row">
  <div class="card-text-center">
    <div class="card-header">
      <h3 class="text-center p-4">PROMOCIONES </h3>
    </div>
  </div>
</div>


<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center m-2">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-bg-dark border-dark">
            <h4 class="my-0 fw-normal">Sencillo</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$12.500<small class="text-body-secondary fw-light">/Day</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Menú Personal</li>
              <li>1 Cafe Americano</li>
              <li>1 Apple Turnover</li>
              <li>1 Flan</li>
              
            </ul>
            <a href="/addprecios/{{id}}" class="w-100 btn btn-lg btn-dark">Añadir</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-bg-dark border-dark">
            <h4 class="my-0 fw-normal">Estándar</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20.200<small class="text-body-secondary fw-light">/Day</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Menú Personal </li>
              <li>1 Sandwich</li>
              <li>1 Cafe Latte</li>
              <li>1 Helado</li>
            </ul>
            <a href="/addprecios/{{id}}" class="w-100 btn btn-lg btn-dark"> Añadir </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-bg-dark border-dark">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$45.000<small class="text-body-secondary fw-light">/Day</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Para 2 Personas</li>
              <li>2 Capuchinos</li>
              <li>2 Lemon Merinque Pie</li>
              <li>1 Muffin</li>
            </ul>
            <a href="/addprecios/{{id}}" class="w-100 btn btn-lg btn-dark"> Añadir</a>
          </div>
        </div>
      </div>
    </div> 
  </main>
