<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card-text-center">
                <div class="card-header">
                    <h3>SOBRE NOSOTROS</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4 m-5">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Misi贸n</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Visi贸n</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Historia</a>

        </div>
    </div>
    <div class="col-6 m-5">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example"
            tabindex="0">
            <h4 id="list-item-1">Misi贸n</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id erat pretium, mollis magna eget,
                ullamcorper mi. Curabitur luctus sem vel tempor dapibus. Etiam pellentesque lectus sed leo condimentum,
                a cursus nibh convallis. Praesent non vulputate neque. Vivamus gravida consectetur est. Nullam vitae
                enim lacus. Praesent efficitur mi non ante hendrerit, non rutrum libero gravida. Aliquam accumsan arcu
                et tincidunt pharetra.</p>
            <h4 id="list-item-2">Visi贸n</h4>
            <p>Pellentesque vitae aliquet mi. Quisque non magna ligula. Praesent sed consectetur nisi. Praesent sit amet
                rhoncus lectus. Ut eget ipsum accumsan, porttitor sem et, scelerisque quam. Integer mollis tristique
                nisl vehicula porttitor. Suspendisse enim felis, euismod non aliquet a, sagittis eget ante. Vivamus
                efficitur iaculis urna sed bibendum. Aenean ornare sapien in massa consequat lobortis. Ut augue lorem,
                volutpat ac luctus vitae, iaculis ut tortor.</p>
            <h4 id="list-item-3">Historia</h4>
            <p>Sed ultrices, ante in fringilla vulputate, arcu nibh commodo nisl, sit amet tempus risus tellus et odio.
                Aenean sed mattis lectus. Nunc ac scelerisque leo, malesuada pharetra justo. Ut consequat fringilla
                sapien, quis congue est placerat at. Donec imperdiet posuere mi, sed scelerisque quam fringilla eget.
                Maecenas tincidunt mauris id ante vestibulum imperdiet. Donec nec urna sed velit vehicula malesuada. Sed
                consectetur maximus fermentum</p>
        </div>
    </div>
</div>