<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:700px">
            <div class="card-header">
                
                <h1 class="text uppercase text-center p-4">COFFEE SHOP</h1>
            </div>

            <card-body class="text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iste doloribus veritatis, natus voluptate corrupti accusamus ullam sint commodi asperiores. Incidunt excepturi non dolorem. Ex aliquid molestias voluptate aperiam magni.</p>
                <a href="/nosotros" class="btn btn-dark">¿Quienes Somos?</a>
            </card-body>
        </div>
    </div>
</main>

<img src="" alt="" class="card-img-top mx-auto m-2 rounded-circle">