<main class="mt-2">
    <div class="container">
        <div class="card mx-auto" style="width:1000px">
            <div class="card-header navbar-dark bg-dark">
                <h1 class="text-uppercase text-center p-3 navbar-brand">COFFEE SHOP</h1>
            </div>
            <div class="row m-5">
                <div class="col-lg-6">
                    <card-body class="text-left m-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iste doloribus veritatis, natus voluptate corrupti accusamus ullam sint commodi asperiores. Incidunt excepturi non dolorem. Ex aliquid molestias voluptate aperiam magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iste doloribus veritatis, natus voluptate corrupti accusamus ullam sint commodi asperiores. Incidunt excepturi non dolorem. Ex aliquid molestias voluptate aperiam magni.</p>
                <a href="/nosotros" class="btn btn-dark">¿Quienes Somos?</a>
                </card-body>

                </div>
                <div class="col-lg-5">
                    <img src="/img/Img_TrabajoFinal/logo_coffeeshop.webp" alt="logo_coffeeshop" class="bd-placeholder-img rounded-circle" width="400" height="400">
                </div>
            </div>
        </div>
    </div>
</main>

<img src="" alt="" class="card-img-top mx-auto m-2 rounded-circle">