<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Añadir Producto</h3>
                </div>
                <div class="card-body"> 
                    
                    <form action="/addproductos" method="post" enctype="multipart/form-data">
                    <div class="input group mt-2">
                        <label for="name" class="input-group-text">Nombre Producto</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Ejemplo: Latte" autofocus required>

                        <label for="descripction" class="input-group-text">Descripcion Producto</label>
                        <input class="form-control" type="text" name="descripction" id="descripction" placeholder="Ejemplo: Espuma Suave y Sedosa" autofocus required>

                        <div class="imput-group mt-2">
                            <input class="form-control" type="file" name="file" id="file">
                        </div>


                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Ordenar</button>
                        </div>
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
