<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Editar Producto</h3>
                </div>
                <div class="card-body">
                    <form action="/editproductos/{{producto.id}}" method="post" enctype="multipart/form-data">
                    <div class="input group mt-2">
                        <label for="name" class="input-group-text">Nombre Producto</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Ejemplo: Latte" value="{{producto.name}}" autofocus required>

                        <label for="descripction" class="input-group-text">Descripcion Producto</label>
                        <input class="form-control" type="text" name="descripction" id="descripction" placeholder="Ejemplo: Espuma Suave y Sedosa" value="{{producto.descripction}}" required>

                        <div class="imput-group mt-2">
                            <input class="form-control" type="file" name="file" id="file">
                        </div>

                        {{#if producto.imagen}}
                        <div class="imput-group mt-2">
                            <img src="/uploads/{{producto.imagen}}" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display: block;">
                        </div>
                        {{/if}} 


                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Actualizar Pedido</button>
                        </div>
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
